@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Road+Rage&display=swap');
* {
    box-sizing: border-box;
}
body {
    background: black;
}
.container {
    max-width: 1200px!important;
    width: 100%;
    margin: 0 auto;
    height: auto;
    display: flex;
    align-items: center;
    padding: 5px;
}
header {
    padding-top: 28px;
}
header.header-wrap {
    height: 37px;
    padding: 10px;
}
header button {
    width: 102px;
    height: 37px;
    border-radius: 8px;
    font-family: Poppins,sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
}
header .header-btn-left:hover,header .header-btn-right:hover {
    background: rgba(37, 69, 220, 1);
}
header .logo-link h2 {
    font-family: Poppins,sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
}
.section-first {
    max-width: 1225px!important;
    width: 100%;
    margin: 0 auto;
    height: auto;
    display: flex;
    align-items: center;
    padding: 5px;
}
.section-first h1 {
    font-family: Poppins,sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 62px;
    text-align: left;
}
.section-first p {
    font-family: Poppins,sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 31px;
    text-align: left;
}
.section-first .first-text {
    max-width: 635px;
    width: 100%;
}
.section-first .section-btn {
    width: 102px;
    height: 37px;
    padding: 8px 24px 8px 24px;
    gap: 10px;
    border-radius: 8px;
    background: rgba(37, 69, 220, 1);
    font-family: Poppins,sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
}
.section-first .first-img {
    max-width: 580px;
    width: 100%;
    height: 440px;
    background: url("./img/first_sec.png") no-repeat center center;
    background-size: cover;
}
.section-first .section-btn-mobile {
    width: 214px;
    height: 45px;
    padding: 12px 80px 12px 80px;
    border-radius: 8px;
    background: rgba(37, 69, 220, 1);
}
.arrow-bottom {
    animation: bounce 1s infinite;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}
.section-second {
    background: rgba(28, 29, 32, 1);
    max-width: 1651px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid rgba(44, 45, 50, 1);
    border-radius: 34px 34px 0px 0px;
    padding-bottom: 80px;
    overflow: hidden;
    transition: max-width 0.5s ease-out;
}
.expanded-section {
    max-width: 100%;
}
.section-second .second-title {
    max-width: 1651px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    border-radius: 34px 34px 0px 0px;
    border-top: 1px solid rgba(37, 69, 220, 0.55);
    height: 124px;
}
.section-second .second-title::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 124px;
    box-shadow: 0px 0px 20px 5px rgba(37, 69, 220, 0.4);
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
    z-index: -1;
}
.section-second .second-title h2 {
    font-family: Poppins,sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 47px;
    text-align: center;
}
.section-second p {
    font-family: Poppins,sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
}
.section-second .text-second {
    max-width: 455px;
    width: 100%;
    height: 112px;
}
.text-animation {
    transform: translateY(100%);
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 0;
}
.section-second .visible-text {
    opacity: 1!important;
    transform: translateY(0)!important;
}
@keyframes slideIn {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.second-part {
    max-width: 1000px!important;
    width: 100%;
    background: url("./img/bg_second.png") no-repeat center center;
}
.section-second .text-second-long {
    max-width: 453px;
    width: 100%;
    height: 152px;
}
.section-second .section-btn-mobile {
    width: 214px;
    height: 45px;
    padding: 12px 24px 12px 24px;
    border-radius: 8px;
    background: rgba(37, 69, 220, 1);
    font-family: Poppins,sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
    margin-top: 20px;
}
.section-second .wrap-block h2,
.section-second .earnings h2 {
    font-family: Poppins,sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 47px;
    text-align: center;
}
.section-second .wrap-block p {
    font-family: Poppins,sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    color: rgba(203, 203, 203, 1);
}
.blocks-row .block-item {
    max-width: 420px;
    width: 100%;
    padding: 4px!important;
}
.section-second .wrap-block .blocks-row p,
.section-second .earnings .earning-block p {
    font-family: Poppins,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    color: rgba(203, 203, 203, 1);
}
.section-second .wrap-block .blocks-row h3 {
    font-family: Poppins,sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
}
.section-second .wrap-block {
    width: 100%;
}
.section-second .earnings p {
    font-family: Poppins,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    color: rgba(203, 203, 203, 1);
    padding-top: 10px;
}
.section-second .earnings {
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
    padding-top: 70px;
}
.section-second .earning-block {
    max-width: 280px;
    width: 100%;
    height: 211px;
    border-radius: 16px;
    border: 1px solid rgba(77, 78, 89, 1);
    background: rgba(46, 47, 54, 1);
    position: relative;
    z-index: 3;
}
.section-second .earnings .earning-block h3 {
    font-family: Poppins,sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: center;
    margin-top: -13px;
}
.section-second .earning-block img {
    position: relative;
    z-index: 5;
    bottom: 40px;
    margin: 0 auto;
}
.section-second .earnings .earning-block .price {
    width: 84px;
    height: 35px;
    padding: 4px 8px 4px 8px;
    gap: 10px;
    border-radius: 8px;
    background: rgba(37, 69, 220, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7px auto;
}
.section-second .earnings .earning-block .price span {
    font-family: Poppins,sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: center;
}
.section-second .information {
    max-width: 1160px;
    width: 100%;
}
.section-second .information .monetisation {
    border-radius: 16px;
    border: 1px solid rgba(77, 78, 89, 1);
    background: rgba(46, 47, 54, 1);
}
.section-second .information .monetisation .text-monetisation {
    padding: 50px;
    max-width: 650px;
    width: 100%;
}
.section-second .information .monetisation .text-monetisation h3,
.section-second .traffic .text-traffic h3,
.section-second .manager .text-manager h3,
.section-second .results .text-results h3 {
    font-family: Poppins,sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 33px;
    text-align: left;
    padding-bottom: 30px;
}
.section-second .information .monetisation .text-monetisation p,
.section-second .traffic .text-traffic p,
.section-second .manager .text-manager p,
.section-second .results .text-results p {
    font-family: Poppins,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
}
.section-second .traffic {
    border-radius: 16px;
    border: 1px solid rgba(77, 78, 89, 1);
    background: rgba(46, 47, 54, 1);
    max-width: 565px;
    width: 100%;
    height: 194px;
}
.section-second .traffic .text-traffic h3,
.section-second .manager .text-manager h3,
.section-second .results .text-results h3 {
    padding-bottom: 10px!important;
    line-height: 50px;
}
.section-second .traffic .text-traffic {
    max-width: 389px;
    width: 100%;
    margin-left: 35px;
}
.section-second .results {
    border-radius: 16px;
    border: 1px solid rgba(77, 78, 89, 1);
    background: rgba(46, 47, 54, 1);
    max-width: 370px;
    width: 100%;
    height: 210px;
}
.section-second .manager {
    border-radius: 16px;
    border: 1px solid rgba(77, 78, 89, 1);
    background: rgba(46, 47, 54, 1);
    max-width: 760px;
    width: 100%;
    height: 210px;
    justify-content: space-between;
}
.section-second .results .text-results {
    max-width: 243px;
    width: 100%;
    margin-left: 35px;
    margin-top: 10px;
}
.section-second .monetisation img {
    width: 20%;
}
.section-second .manager img {
    width: 30.5%;
}
.section-second .manager .text-manager {
    max-width: 382px;
    width: 100%;
    margin-left: 35px;
}
footer {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 80px;
}
footer p {
    font-family: Poppins,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}
footer ul li a {
    font-family: Raleway,sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
}
footer .logo-link h2 {
    font-family: Poppins,sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    text-align: left;
}
.animate-bottom-up {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.animate-bottom-up.show {
    opacity: 1;
    transform: translateY(0);
}
.second-part img {
    max-width: 419px;
    width: 100%;
}
.img-first {
    min-width: 390px!important;
    width: 100%;
    height: 300px!important;
}
.img-second {
    max-width: 352px!important;
}
.wrap-block .blocks-row img {
    max-width: 315px!important;
    width: 100%;
    height: 300px;
}
@media (max-width: 1000px) {
    .img-first {
        min-width: unset!important;
        width: 100% !important;
    }
}
@media (max-width: 768px) {
    .section-first h1 {
        font-size: 17px;
        line-height: 28px;
        text-align: center;
    }
    .section-first p {
        font-size: 13px;
        line-height: 19px;
        text-align: center;
    }
    .section-first img {
        height: 242px;
    }
    .section-second .second-title h2 {
        font-size: 20px;
    }
    .section-second p {
        text-align: center;
        font-size: 15px;
        line-height: 19px;
    }
    .section-second .section-btn-mobile {
        text-align: center;
        margin: 10px auto;
    }
    .second-part {
        background: none;
    }
    .section-second .line {
        width: 2px;
        height: 48px;
        margin: 5px auto;
        background: linear-gradient(rgba(37, 69, 220, 1)30%, transparent 0%);
        background-size: 4px 16px;
    }
    .section-second .text-second {
        max-width: 274px;
        width: 100%;
        height: auto;
    }
    .section-second .wrap-block h2 {
        font-size: 20px;
        line-height: 28px;
    }
    .section-second .wrap-block p {
        font-size: 13px;
        line-height: 19px;
    }
    .section-second .earning-block,.section-second .traffic,
    .section-second .results,
    .section-second .manager {
        max-width: unset;
        width: 100%;
    }
    .section-second .earnings-row {
        gap: 60px;
    }
    .section-second .information .monetisation .text-monetisation {
        padding: 10px;
    }
    .section-second .information .monetisation img,
    .section-second .manager img {
        max-width: 118px;
        width: 100%;
    }
    .section-second .traffic .text-traffic h3,
    .section-second .manager .text-manager h3,
    .section-second .results .text-results h3 {
        line-height: 30px;
    }
    .section-second .traffic .text-traffic {
        margin-left: 0;
    }
    .section-second .results .text-results {
        margin-left: 10px;
    }
    .section-second .manager .text-manager {
        margin: 28px auto;
        padding-left: 10px;
    }
}